<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gamepark PDF page</title>
</head>
<body>
    <h2> <center> gameparks list data </center></h2> 
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"> gamepark_id</th>
                <th scope="col"> gamepark_name</th>
                <th scope="col"> contact</th>
                <th scope="col"> contact_person</th>
                <th scope="col"> contact</th>
            </tr>
        </thead>
        <tbody>
            {% for gamepark in gameparks %} 
                <tr>
                <th scope="row">{{gamepark.id}}</th>
                <td>{{gamepark.gamepark_name}}</td>
                <td>{{gamepark.contact}}</td>
                <td>{{gamepark.contact_person}}</td>
                <td>{{gamepark.contact}}</td>
    </tr>
    {% endfor %} 
    </tbody>
    
    </table>  
</body>
</html>